@page "/Studente/Home"
@inject IDialogService DialogService
@using Shared.Classes
@using MudBlazor
@inject StatoApp StatoApp
<MudThemeProvider Theme="MyCustomTheme" ></MudThemeProvider>
<MudDialogProvider />
<MudSnackbarProvider />
<MudButton OnClick="ShowDialog">Dialog</MudButton>

<MudThemeProvider ></MudThemeProvider>
<MudDialogProvider />
<MudSnackbarProvider />
<h3>Studente</h3>



<MudButton OnClick="ShowDialog">PRESS ME</MudButton>

@code {

}
