@page "/Professore/Calendario"
@layout MainLayout
<h3>Calendario</h3>

<RadzenScheduler class="h-100" Data="@data" TItem="DataItem" StartProperty="Start" EndProperty="End" TextProperty="Text">
    
    <RadzenMonthView />

</RadzenScheduler>

<style>
    .rz-scheduler-nav-views .rz-button.rz-primary.rz-state-active {
        color: @Colors.Orange.Darken3 !important;
        background-color: @Colors.Amber.Lighten4 !important
    }

</style>

@code {
    class DataItem
    {
        public DateTime Start { get; set; }
        public DateTime End { get; set; }
        public string Text { get; set; }
    }

    DataItem[] data = new DataItem[]
    {
      new DataItem
      {
        Start =DateTime.Today,
        End = DateTime.Today.AddDays(1),
        Text = "Birthday"
      },
    };
}
